.me {
  background-color: silver;
  color: Black;
  border: 2px solid black;
  margin: 20px;
  padding: 20px;
  font-size:20px
}

section {
  padding: 10px;
  Background-color: white
    border: 2px;}
.container {
  display: grid;
  width 1000px;
  margin: auto;
}
.content-1 {
  grid-area: content-1;
}
